
  .botonSuma {
    align-content: center;
    background-color: rgb(98, 225, 98);
  }
  
  .botonResta {
    align-content: center;
    background-color: rgb(255, 98, 98);
  }
  
  .botonReiniciar{
    align-content: center;
    background-color: rgb(122, 122, 255);
  }
  